@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
  /* css variables */
  --color-main: #ffffff;
  --color-accent: #ffc700;
  --color-bg_main: #060803;
  --color-bg_secondary: #222527;
  --color-overlay: rgba(255, 255, 255, 0.4);

  --color-main--light: #15141d;
  --color-accent--light: #4b526a;
  --color-bg_main--light: #ffffff;
  --color-bg_secondary--light: #ebebeb;
  --color-overlay--light: rgba(21, 20, 29, 0.4);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  /* width: 1170px; */

  margin-left: auto;
  margin-right: auto;

  padding-left: 95px;
  padding-right: 95px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.textPlain {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-main);
}

.sectionPrimary {
  height: 100%;
  width: 100%;

  /* background-color: var(--color-bg_main); */
  background-image: url(../img/space.jpg);
  background-size: cover;
}

.sectionPrimary-Vader {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* width: 1170px; */
/* height: 700px; */

.container-section {
  /* position: relative; */
  /* height: 100%; */

  margin-left: auto;
  margin-right: auto;

  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 95px;
  padding-right: 95px;
}

.container-section--sectionPrimary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
}

.sectionPrimary-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.captionSub {
  margin-bottom: 16px;
}

.captionMain {
  margin-bottom: 24px;

  font-style: italic;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;

  color: var(--color-accent);
}

.listFeatures {
  margin-bottom: 40px;
  margin-left: 20px;
}

.listFeatures-item {
  color: var(--color-accent);
  list-style: disc;
}

.listFeatures-item:not(:last-child) {
  margin-bottom: 8px;
}

.button-callToAction {
  border: 0;
  outline: 0;
  padding: 16px 32px;
  /* margin-bottom: 104px; */

  border-radius: 38px;
  background-color: var(--color-accent);

  cursor: pointer;

  /* font-family: "Montserrat", sans-serif;; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-bg_main);
}

.captionSmall {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-accent);
}
